# .flake8
[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    env,
    venv,
    .venv
per-file-ignores =
    __init__.py: F401
    */migrations/*: E501
    my_church/settings.py: E501