<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Church{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        <!-- O conteúdo específico de cada página vai aqui -->
        {% endblock %}
    </div>

    <footer>
        <p>footer</p>
    </footer>
</body>
</html>
