{% extends 'base.html' %}

{% block title %}Contact Me{% endblock %}

{% block content %}
<h2>Contact Me</h2>
<p>You can reach out to us through the following channels:</p>
<ul>
    <li>Email: <a href="mailto:coutinholps@gmail.com">coutinholps@gmail.com</a></li>
    <li>Phone: <a href="https://wa.me/5521964781930">+55 21 964 781 930</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/luizpaulocoutinho/" target="_blank" rel="noopener noreferrer">Luiz Paulo Coutinho</a></li>
</ul>
{% endblock %}
