{% extends 'base.html' %}

{% block title %}Make a Donation{% endblock %}

{% block content %}
    <h2>Make a Donation</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.donation_type.label_tag }}{{ form.donation_type }}
        {{ form.payment_method.label_tag }}{{ form.payment_method }}
        
        <!-- Campo de Amount -->
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount_display" required>

        <!-- Campo oculto para o valor real a ser enviado -->
        <input type="hidden" id="amount_hidden" name="amount">

        <button type="submit" id="donate-button">Donate</button>
    </form>

    <script>
        document.getElementById('amount').addEventListener('input', function(e) {
            let input = e.target.value.replace(/\D/g, '');  // Remove tudo que não for dígito
            input = input.padStart(3, '0');  // Garante pelo menos 3 dígitos
            let decimal = (parseFloat(input) / 100).toFixed(2);  // Converte para decimal
            decimal = decimal.replace('.', ',');  // Substitui o ponto por vírgula
            e.target.value = decimal;  // Atualiza o campo de entrada

            // Atualiza o campo oculto com o valor numérico real
            document.getElementById('amount_hidden').value = (parseFloat(input) / 100).toFixed(2);
        });
    </script>
{% endblock %}
